    
    body{
        background-color:hsl(0, 4%, 83%) ;
    }

    h1  {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif   ;
    font-size: 40pt;
    text-align:center;
    border: solid;
    border-radius: 50px;
    background-color: cadetblue;
        
}
    #topnav {
        text-align: center;
        font-size: 20px;
        word-spacing: 200px;
        word-wrap: break-word;
        border:inset;
        border-color: red;
        background-color: rgb(224, 83, 83);
        
}
    h2{
        font-size: 40px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(15, 15, 15);
}
    
    p{
        font-size: 30px;
        
}
